* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --main-color:#D55140;
    --main-inverse-color:#fff;
    --background-color:#40474f;
    --text-color:#c2ccce;
    --footer-background:#202327;

}


@font-face {
    font-family: 'visionbold';
    src: url('vision-bold-webfont.woff2') format('woff2'),
         url('vision-bold-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

body    {
    font-family: 'visionbold';
}

p{
    font-family: 'visionbold';
}

a{
    text-decoration: none;
    color: var(--main-inverse-color);
    list-style: none;
    font-family: 'visionbold';
}






/*****************************/
/* HEADER - JESSE */
/*****************************/

header{
    width: 100%;
    background-color:transparent;
    padding: 15px 25px;
    height: 80px;
    position: sticky;
    z-index: 1000;
}

ul  {
    list-style: none;
}

header ul{
    display: flex;
    flex-direction: row;

    display:flex;
    flex-wrap:wrap;
    list-style: none;
}

/* positioneren & ticket link */
header ul li:nth-of-type(2){
    flex-grow:1;
}

/* terug naar home - links */
header ul li a:focus {
    border: 2px solid var(--main-inverse-color);
    outline: 3px solid var(--main-color);
}

/* language button focus/hover state */
header ul li:nth-child(3) a:focus {
    border: 2px solid var(--main-inverse-color);
    outline: 3px solid var(--main-color);
}

header ul li:nth-child(3) a:hover {
    text-decoration: underline;
}

/* inloggen button focus/hover state */
header ul li:nth-child(4) a:focus {
    border: 2px solid var(--main-inverse-color);
    outline: 3px solid var(--main-color);
}

header ul li:nth-child(4) a:hover {
    text-decoration: underline;
}

/* giftshop button focus/hover state */
header ul li:nth-child(5) a:focus {
    border: 2px solid var(--main-inverse-color);
    outline: 3px solid var(--main-color);
}

header ul li:nth-child(5) a:hover {
    text-decoration: underline;
}


/* language inloggen & giftshop - buttons */
header ul li:nth-child(3), 
header ul li:nth-child(4),
header ul li:nth-child(5) {
    display: none;
    color: var(--main-inverse-color);
    list-style: none;
}

/* stijlen ticket - button */
header ul li:last-of-type a{
    padding: 10px 20px;
    background-color:var(--main-color);
    text-decoration: none;
    color:var(--main-inverse-color);
}

header ul li:last-of-type a:hover {
    padding: 10px 20px;
    background-color:var(--main-inverse-color);
    text-decoration: none;
    color:var(--background-color);
}

header ul li:last-of-type a:focus {
    border: 2px solid var(--main-inverse-color);
    outline: 3px solid var(--main-color);
}

header ul li a{
    padding: 10px;
    display: inline-block;
}

header svg{
    width: 20px;
}

header svg path{
    fill:var(--main-inverse-color);
}
/*****************************/
/* EINDE HEADER - JESSE */
/*****************************/






/*****************************/
/* MAIN - JESSE */
/*****************************/

/* balk weghalen achter nav */
main {
    display: flex;
    margin-top: -80px;
}

/*achtergrond kleur weghalen */
main section {
    flex: 1;
    background-color:var(--background-color);
}

/* objecten komen niet achter de nav*/
/* & afbeelding komt onder nav */
main section.grid {
    padding-top: 80px;
}

/* afbeelding word weg gehaald op small screen*/
main section.desktop {
    display: none;
}

/* stijlen h1 rijksmuseum */
main section:first-of-type h1 {
    font-family: 'visionbold';
    font-size:3em;
    text-align:center;
    color:var(--main-inverse-color);
    margin-top: 75px;
}

main section:first-of-type ul{
    padding:17.5px 20px;
}

/* taal t/m giftshop komen naast elkaar */
main section:first-of-type ul:first-of-type {
    display:flex;
    flex-direction:row;
    width: 60%; 
    justify-content: flex-start;
}

/* ruimte maken - taal t/m giftshop */
main section:first-of-type ul:first-of-type li a {
    color:var(--main-inverse-color);
    font-size: 1em;
    padding-left: 10px;
}

/* stijlen lettertype */
main section:first-of-type ul li a{
    color:var(--text-color);
    font-size: 1.2em;
    line-height: 2.3em;
}

/* afbeelding toevoegen + grid & stijlen */
main section.grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("../img/unnamed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}   

main section.grid * {
    z-index: 2;
}

main section.grid::before {
    content: "";
    background-color: var(--background-color);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

/* titel rijksmuseum stijlen */
main section.grid svg {
    width: 100%;
    padding: 0 5%;
    order: 1;
    padding-bottom: 6%;
}

main section.grid ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3.5em;
}

/* hover & focus - taal t/m giftshop */
main section.grid ul:first-of-type li:first-of-type a:focus {
    border: 2px solid var(--main-inverse-color);
    outline: 3px solid var(--main-color);
}

main section.grid ul:first-of-type li:first-of-type:hover {
    text-decoration: underline;
}

main section.grid ul:first-of-type li:nth-child(3) a:focus {
    border: 2px solid var(--main-inverse-color);
    outline: 3px solid var(--main-color);
}

main section.grid ul:first-of-type li:nth-child(3):hover {
    text-decoration: underline;
}

main section.grid ul:first-of-type li:nth-child(5) a:focus {
    border: 2px solid var(--main-inverse-color);
    outline: 3px solid var(--main-color);
}

main section.grid ul:first-of-type li:nth-child(5):hover {
    text-decoration: underline;
} 

/* hover - bezoek t/m Onderzoek */
main section.grid ul:nth-child(2) li:hover{
    text-decoration: underline;
}

/* hover - Families en kinderen t/m Toegankelijkheid */
main section.grid ul:nth-child(3) li a p:hover{
    text-decoration: underline;
}

main section:last-of-type {
    position: absolute;
    background-color: var(--main-inverse-color);
    color: var(--footer-background);
    top: 2em;
    left: 1em;
    right: 1em;
    padding: 2em;
    border-radius: 10px;
    z-index: 1001;
    display: none;
}

main section:last-of-type.popupZichtbaar {
    display: block;
}


/*****************************/
/* FOOTER - JESSE */
/*****************************/
footer{
    height: 220px;
    background-color:var(--footer-background);
}

footer ul{
    display:flex;
    flex-wrap:wrap;
    padding: 20px;
    height: 25px;
    fill:var(--main-inverse-color);
}

footer ul li{
    flex-basis:15%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* slavernij */
main section.grid ul:last-of-type {
    display: none;
}

main section.grid ul:last-of-type li h4 {
    color: var(--text-color);
    font-weight: bold;
    font-family: 'visionbold';
    font-size: 1.2em;

    margin: 0px 0px 6px;
}

main section.grid ul:last-of-type li p {
    color: var(--text-color);
    font-weight: normal; 
    font-family: 'visionbold';
    font-size: 1em;
    margin: 0px 0px 12px;
}






/*****************************/
/* Medium screen & Big screen */
/*****************************/

@media only screen and (min-width: 812px) {
    
    header {
        background-color:transparent;
    }

    header ul li:nth-child(3), 
    header ul li:nth-child(4),
    header ul li:nth-child(5) {
        display: block;
        color: var(--main-inverse-color);
        list-style: none;
    }

    main section.grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 100vh;
    }

    main section.grid ul li {
        grid-row: span 2;
    }

    main section.desktop {
        display: block;
    }

    main section.grid ul:first-of-type {
        display: none;
    }

    main section.grid::before {
        width: 50vw;
    }

    main section.grid svg {
        grid-column: span 4;
        order: unset;
    }

    main section.grid ul:last-of-type {
        display: flex;
    }    

    footer {
        display: none;
    }

}
